# dependencies
node_modules/
**/node_modules/

# env
.env
.env.local
.env*.local

# macOS
.DS_Store
**/.DS_Store

# logs
*.log
pnpm-debug.log*

# Supabase local dev
supabase/.branches/
supabase/.temp/
